# Typy skalarne

## Prostokąt

Dany jest prostokąt o wymiarach 2.5x7. Oblicz jego pole i obwód.

In [ ]:
x = 2.5
y = 7

# pole = ...
# obwod = ...

print('Pole =', pole)
print('Obwód =', obwod)

## Efektywność pracy

Firmy `A` i `B` zajmują się produkcją nakrętek.

Firma `A` zatrudnia 120 pracowników i dziennie produkuje 10426 nakrętek.

Firma `B` zatrudnia 156 pracowników i dziennie produkuje 13721 nakrętek.

W której firmie pracownicy pracują efektywniej?

536 nakrętek wyprodukowanych przez firmę `A` w ciągu dnia jest wadliwych.

580 nakrętek wyprodukowanych przez firmę `B` w ciągu dnia jest wadliwych.

Nakrętkę której firmy powinien kupić klient, żeby mieć większą pewność, że kupiona nakrętka nie będzie wadliwa?

Pracownik której firmy produkuje dziennie mniej wadliwych nakrętek?

## Komunikat

Wyświetl komunikat dla prezesa, z którego dowie się jaki przychód uzyskała firma z podanego regionu.

oczekiwany wynik:

> Prezesie Smith!
>
> Oddział XYZ uzyskał przychód 1500 EUR.

In [ ]:
nazwisko_prezesa = 'Smith'

oddzial = 'XYZ'
kwota = 1500
waluta = 'EUR'

## Logika

Sprawdź poniższe warunki.

In [ ]:
a = 12
b = -23
c = 1.0
d = '12'
e = False

Czy `a` i `b` są ujemne?

Czy `a` jest równe `d`?

Czy `a` albo `c` jest ujemne?

Czy prawdą jest, że zaprzeczenie `e` jest fałszem?

**Zadanie z gwiazdką.**

Napisz w Pythonie prawo rozdzielności alternatywy względem koniunkcji.

$$ p \lor (q \land r) \Leftrightarrow (p \lor q) \land (p \lor r) $$

* $\lor$ - alternatywa - `or`
* $\land$ - koniunkcja - `and`

> Przykład:

> Prawo podwójnego zaprzeczenia

$$ \neg ( \neg p ) \Leftrightarrow p $$


```python
not (not p) == p
```

In [ ]:
p = True #or False
q = True #or False
r = True #or False

# Typy sekwencyjne

## Kraje

Dana jest lista krajów.

In [ ]:
kraje = ['Polska', 'Niemcy', 'Francja', 'Włochy', 'Brazylia', 'Japonia']

Podaj liczbę krajów.

Dodaj do listy USA.

Posortuj listę alfabetycznie.

Wskaż dwa pierwsze elementy.

Wskaż ostatni element.

Sprawdź, czy na liście jest Kanada.

Dodaj do listy dodatkowe kraje.

In [ ]:
dodatkowe_kraje = ['Litwa', 'Malta']

## Miasta

Dane jest lista miast.

In [ ]:
miasta = ['Pekin', 'Porto', 'Lizbona', 'Katowice', 'Marsylia', 'Pilzno', 'Manchester']

Sprawdź, czy jest więcej niż 5 miast.

Dodaj do listy swoje miasto.

Posortuj listę alfabetycznie.

Wskaż 3 ostatnie miasta.

Dodaj do listy Wilno i Kair.

Sprawdź, czy na liście jest Pilzno.

## Listy zagnieżdzone

Dana jest lista.

In [ ]:
lista = [['jeden'], ['one', 'two'], ['uno', 'due', 'tre'], [1, 2, 3, 5]]

Wydobądź element 'tre'.

Nadpisz ostatni element ostatniego elementu listy wartością 4.

Podaj liczbę elementów trzeciego elementu listy.

## Listy zagnieżdzone 2

In [ ]:
l = [[14], [], 1, ['a', 'ab' , 'ba']]

Wydobądź element 14

Sprawdź jakiego typu danych jest drugi element czwartego elementu listy.

Dodaj element (swoje imię) do drugiego elementu listy. (obecnie jest tam pusta lista).

## Liczby pierwsze

Dana jest kolekcja (w tym przypadku krotka) zawierająca kilka początkowych liczb pierwszych.

In [ ]:
prime = (2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59)

Oblicz średnią podanych liczb.

Oblicz minimum podanych liczb.

Sprawdź, czy ostatnia wartość jest równa maksimum liczb.

Sprawdź, czy w kolekcji jest liczba 47.

**Zadanie z gwiazdką**

Oblicz sumę liczb, których indeksy są parzyste

## Zakres

Oblicz sumę pierwszych 100 liczb naturalnych.

# Słowniki i zbiory

## Zbiory

Dana jest lista liczb.

In [ ]:
liczby_lista = [3, 5, -2, 7, 4, 2, 7, 1, 6, 3, 2, 1, 8, 612]

Stwórz zbiór na podstawie listy `liczby`. Nazwij go "liczby_zbior"

Sprawdź, czy lista i zbiór mają taką samą liczbę elementów.

## Stolice

Dany jest słownik stolic

In [ ]:
stolice = {
    'Polska': 'Warszawa',
    'Niemcy': 'Berlin',
    'Chiny': 'Pekin',
    'Japonia': 'Tokio',
    'Czechy': 'Praga',
    'Francja': 'Paryż',
    'USA': 'Nowy Jork'
}

Zmień stolicę USA na Waszyngton.

Dodaj stolicę Włoch.

Wyświetl wszystkie klucze (kraje).

Wyświetl wszystkie wartości (stolice).

\* na podstawie kluczy stwórz listę i nazwij ją `klucze_lista`.

Na podstawie danych ze słownika wyciągnij stolicę Czech, następnie stwórz zmienną `stolica_czech` i nadaj jej wyciągniętą wcześniej wartość.

Na podstawie danych ze słownika spróbuj wyciągnąć stolicę Chorwacji, następnie stwórz zmienną `stolica_chorwacji` i nadaj jej wcześniej wyciągniętą wartość.

> UWAGA
>
> Takiej wartości nie ma w słowniku, natomiast Twój kod nie może wywołać błędu.

# Instrukcje sterujące

## Na rozgrzewkę.

Jeśli 2342351241 dzieli się bez reszty przez 3, to wyświetl swoje imię, w przeciwnym razie wyświetl swoje nazwisko.

## Algorytm

Napisz kod, który będzie odwzorowaniem rozwiązywanie funkcji kwadratowej.

![](https://4.bp.blogspot.com/-Nfrp1IfqkXE/WOSp5eo73VI/AAAAAAAAAFY/sEc5bIjiKU4YpC-AXHnINpbeoLAxx3wFgCLcB/s1600/blok.jpg)

## Pętle

Wypisz liczby o 1 do 30 za pomocą pętli `while`

Wypisz liczby od 1 do 30 za pomocą pętli `for`

Wypisz wszystkie liczby czterocyfrowe, ale tylko te, które dzielą się przez 101 ale nie dzielą się przez 3.

Dana jest lista miast. Stwórz listę `miasta_z_o`, która będzie zawierać jedynie miasta, które zawierają w nazwie literę "o".

In [ ]:
miasta = ['Pekin', 'Porto', 'Lizbona', 'Katowice', 'Marsylia', 'Pilzno', 'Manchester']

In [ ]:
miasta_z_o = []

**Zadanie z gwiazdką**

Sprawdź, czy liczba 548648671 jest liczbą pierwszą.

In [ ]:
x = 548648671

**Liczba doskonała**

Wyznacz wszystkie liczby doskonałe mniejsze od 10000.

> liczba doskonała - liczba naturalna, która jest sumą wszystkich swych dzielników właściwych (to znaczy od niej mniejszych)

**Dzielenie przez 7**

https://www.youtube.com/watch?v=UDQjn_-pDSs

Sprawdzić, czy algorytm działa dla każdej liczby mniej od 10000.

# Funkcje

## Pierwszy znak

Napisz funkcję zwracającą pierwszy znak z podanego argumentu.

## Pierwsze znaki

Napisz funkcję zwracającą n pierwszych znaków (domyślnie n=1)

## Średnia

Napisz funkcję, która będzie przyjmować jako argument listę i policzy jej średnią. Stwórz przykładową listę i sprawdź działanie funkcji.

## Mediana

Napisz funkcję, która będzie przyjmować jako argument listę i policzy jej średnią. Stwórz przykładową listę i sprawdź działanie funkcji.

## Suma liczb naturalnych

Napisz funkcję zwracającą sumę n pierwszych liczb naturalnych.

## Czy doskonała

Napisz funkcję, która będzie sprawdzać, czy podana liczba jest liczbą doskonałą.

## Ile dni w roku

Napisz funkcję, która przyjmować będzie rok a zwracać liczbę dni w tym roku.

**Kiedy jest rok przestępny?**

* jest podzielny przez 4 i niepodzielny przez 100 lub
* jest podzielny przez 400

## Unikatowe wartości

Napisz funkcję, która będzie przyjmować w argumencie listę a zwracać będzie krotkę z unikatowymi elementami danej listy.

## Papier, kamień, nożyce

Napisz funkcję, która będzie roztrzygać, kto jest zwycięzcą pojedynku w papier kamień, nożyce.

In [ ]:
gracz1 = 'papier'
gracz2 = 'kamień'

def pkn(gracz1, gracz2):
    # tutaj kod
    

pkn(gracz1, gracz2)

## Zliczanie powtórzeń

Napisz funkcję, która będzie przyjmować listę i będzie zwracać słownik, gdzie kluczami będą elementy listy, a wartościami będzie liczba powtórzeń elementu w liście.

## Zliczanie typów

Napisz funkcję, która będzie przyjmować listę i będzie zwracać słownik, gdzie kluczami będą typy elementów listy, a wartościami będzie liczba powtórzeń tych typów w liście.

## Macierz jednostkowa

Napisz funkcję która zwróci macierz (w tym wypadku listę, w której będą listy odzwierciedlające wiersze macierzy) jednostkową o podanym wymiarze.

Na przyklad:

Wywołanie `macierz_jednostkowa(3)` powinna zwrócić taki wynik:

```python
[[1, 0, 0], [0, 1, 0], [0, 0, 1]]
```

## Usuń parzyste

Napisz funkcję, któraprzyjmie jako parametr listę liczb, a zwróci listę z usuniętymi liczbami parzystymi.

## Podsumowanie

Nalezy napisać funkcje, ktora będzie zwracać z listy int-ow:

* dlugosc listy
* sume jej wartosci
* najwyzsza wartosc
* pierwszy i ostatni element

## EVEN ODD

Napisz funkcję o nazwie show_numbers, która przyjmuje parametr o nazwie limit. Powinien wydrukować wszystkie liczby od 0 do limitu z etykietą, aby zidentyfikować liczby parzyste i nieparzyste. Na przykład, jeśli limit wynosi 3, powinien wydrukować:
<br> 0 EVEN
<br> 1 ODD 
<br> 2 EVEN 
<br> 3 ODD

## Słownik kwadratów

Napisz funkcję, która ma przyjąć paramatr limit i ma drukować słownik, w którym klucze są liczbami, a wartości są kwadratami tych kluczy.

## Tabliczka mnożenia

Napisz pętlę, która wyświetli, po podaniu liczby, tabliczkę mnożenia.
<br> Przykładowo:
<br> 
<br>`tab_mnozenia(6)`
<br>6x1 = 6
<br>6x2 = 12
<br>6x3 = 18
<br>6x4 = 24
<br>6x5 = 30
<br>6x6 = 36
<br>6x7 = 42
<br>6x8 = 48
<br>6x9 = 54
<br>6x10 = 60

# Ćwiczenia

Proszę za pomocą pętli i instrukcji if wyświetlić następujący ciąg:
<br> 1
<br> 2
<br> 3
<br> 4
<br> Znalazłem 5! 
<br> 6
<br> 7

Za pomoca petli wydrukuj nastepujacy wzorzec:

```
1
22
333
4444
55555
666666
7777777
88888888
999999999
```

treepersqkm to słownik pokazujący liczbę drzew na metr kwadratowy w wybranych krajach. Napisz instrukcje if, która zwraca listę nazw krajów z ponad 20 000 drzew na kilometr kwadratowy.

In [41]:
treepersqkm = {
    "Finland": 90652, "Taiwan": 69593,
    "Japan": 49894, "Russia": 41396,
    "Brazil": 39542, "Canada": 36388,
    "Bulgaria": 24987, "France": 24436,
    "Greece": 24323, "United States": 23513,
    "Turkey": 11126, "India": 11109,
    "Denmark": 6129, "Syria": 534,
    "Saudi Arabia": 1
}

In [29]:
import random # biblioteka dająca opcje losowania wartości

In [30]:
random.random() # losowa wartość z przedziału 0 do 1

0.38707740113410727

In [31]:
random.uniform(56, 81) # losowa wartość z podanego zakresu

76.51378502683791

In [33]:
random.randint(5, 8) # losowa wartość całkowita z zakresu

5

## Zgadnij liczbę

Napisz program w którym użytkownik będzie musiał odgadnąć wylosowaną liczbę z podanego zakresu. Użytkownik powinien dostać informacje czy podana przez niego liczba jest większa, mniejsza czy równa wylosowanej. Użytkownik powinien próbować tak długo, aż zgadnie. Na końcu powinien też zobacz liczbę swoich prób.

przydatne funkcje: `input`, `int`, `random.randint`

## Wisielec

Napisz funkcję, która będzie imitować grę w wisielca.