#### Zadanie 1

Stwórz słownik w którym będą dane z poniższej krotki pod kluczami `imie`, `nazwisko`, `wiek`

In [59]:
dane = ("Adam", "Nowak", 35)

D={}
D['imie']='Adam'
D['nazwisko']='Nowak'
D['wiek']=[35]

print(D)

{'imie': 'Adam', 'nazwisko': 'Nowak', 'wiek': [35]}

#### Zadanie 2

Dodaj do słownika wartość "programista" pod kluczem `zawód`

In [101]:
D['zawod']=['programista','prawnik','lekarz']

list=[00,10,20,30,40,50,60]

print(list.pop(5))

print(list)

50
[0, 10, 20, 30, 40, 60]

In [135]:

D['zawod']=['programosta','lekarz']
print(type(D['wiek']))

<class 'list'>

#### Zadanie 3

Iterując przez listę słowników, wypisz wszystkie imiona

In [9]:
rekordy = [
    {"imie": "Adam", "nazwisko": "Nowak", "wiek": 35},
    {"imie": "Anna", "nazwisko": "Nowak", "wiek": 29},
    {"imie": "Artur", "nazwisko": "Nowakowski", "wiek": 39},
    {"imie": "Alojzy", "nazwisko": "Kowalski", "wiek": 19}
]

In [151]:
for i in rekordy:
    print(i["imie"])

Adam
Anna
Artur
Alojzy

#### Zadanie 4

Iterując przez listę słowników wypisz dane tych osób, które mają więcej niż 30 lat

In [ ]:
rekordy = [
    {"imie": "Adam", "nazwisko": "Nowak", "wiek": 35},
    {"imie": "Anna", "nazwisko": "Nowak", "wiek": 29},
    {"imie": "Artur", "nazwisko": "Nowakowski", "wiek": 39},
    {"imie": "Alojzy", "nazwisko": "Kowalski", "wiek": 19}
]

In [147]:
for wiek in rekordy:
    if wiek.get('wiek') > 30:
        print(wiek)

{'imie': 'Adam', 'nazwisko': 'Nowak', 'wiek': 35}
{'imie': 'Artur', 'nazwisko': 'Nowakowski', 'wiek': 39}

In [149]:
for w in rekordy:
    if w['wiek']>30:
        print(w)

{'imie': 'Adam', 'nazwisko': 'Nowak', 'wiek': 35}
{'imie': 'Artur', 'nazwisko': 'Nowakowski', 'wiek': 39}

#### Zadanie 5

Napisz funkcję, która przyjmie słownik i wypisze wszystkie elementy w formie `<klucz> : <wartość>`

Np. dla `{"id": 1, "marka": "Audi"}`

```
id : 1
marka : Audi
```

In [243]:
auta={"id": 1, "marka": "Audi"}


for k in auta:
    print(f'{k} : {auta[k]}')

print('------------------')

for klucz,wartosc in auta.items():
    print(f'{klucz} : {wartosc}')

id : 1
marka : Audi
------------------
id : 1
marka : Audi

#### Zadanie 6

Dopisz do każdego słownika z listy klucz `zawód` z odpowiednią wartością (zgodnie z kolejnością)

In [253]:
rekordy = [
    {"imie": "Adam", "nazwisko": "Nowak", "wiek": 35},
    {"imie": "Anna", "nazwisko": "Nowak", "wiek": 29},
    {"imie": "Artur", "nazwisko": "Nowakowski", "wiek": 39},
    {"imie": "Alojzy", "nazwisko": "Kowalski", "wiek": 19}
]
zawody = ["Programista Java", "Programistka PHP", "Programista Python", "CEO startupu"]

rekordy[0]['zawod']='programista java'
rekordy[1]['zawod']='Programistka PHP'
rekordy[2]['zawod']='Programista Python'
rekordy[3]['zawod']='CEO startupu'

for osoby in rekordy:
    print(osoby)


print('-----------------------')


for i in range(len(rekordy)):
    osoba=rekordy[i]
    osoba['zawod']=zawody[i]
print(rekordy)


print('----------------')

for osoba, zawod in zip(rekordy, zawody):
    osoba["zawód"] = zawod

for el in rekordy:
    print(el)

{'imie': 'Adam', 'nazwisko': 'Nowak', 'wiek': 35, 'zawod': 'programista java'}
{'imie': 'Anna', 'nazwisko': 'Nowak', 'wiek': 29, 'zawod': 'Programistka PHP'}
{'imie': 'Artur', 'nazwisko': 'Nowakowski', 'wiek': 39, 'zawod': 'Programista Python'}
{'imie': 'Alojzy', 'nazwisko': 'Kowalski', 'wiek': 19, 'zawod': 'CEO startupu'}
-----------------------
[{'imie': 'Adam', 'nazwisko': 'Nowak', 'wiek': 35, 'zawod': 'Programista Java'}, {'imie': 'Anna', 'nazwisko': 'Nowak', 'wiek': 29, 'zawod': 'Programistka PHP'}, {'imie': 'Artur', 'nazwisko': 'Nowakowski', 'wiek': 39, 'zawod': 'Programista Python'}, {'imie': 'Alojzy', 'nazwisko': 'Kowalski', 'wiek': 19, 'zawod': 'CEO startupu'}]
----------------
{'imie': 'Adam', 'nazwisko': 'Nowak', 'wiek': 35, 'zawod': 'Programista Java', 'zawód': 'Programista Java'}
{'imie': 'Anna', 'nazwisko': 'Nowak', 'wiek': 29, 'zawod': 'Programistka PHP', 'zawód': 'Programistka PHP'}
{'imie': 'Artur', 'nazwisko': 'Nowakowski', 'wiek': 39, 'zawod': 'Programista Python', 'zawód': 'Programista Python'}
{'imie': 'Alojzy', 'nazwisko': 'Kowalski', 'wiek': 19, 'zawod': 'CEO startupu', 'zawód': 'CEO startupu'}

#### Zadanie 7

Na podstawie listy słowników stwórz drugą listę, w której słowniki będą zawierały wyłącznie klucze `imie` i `nazwisko`

In [329]:
rekordy = [
    {"imie": "Adam", "nazwisko": "Nowak", "wiek": 35},
    {"imie": "Anna", "nazwisko": "Nowak", "wiek": 29},
    {"imie": "Artur", "nazwisko": "Nowakowski", "wiek": 39},
    {"imie": "Alojzy", "nazwisko": "Kowalski", "wiek": 19}
]

In [343]:
rekordy2=[]
rekordy3=[]

#for e in rekordy:
 #   e.popitem()
  #  rekordy2.append(e)

#print(rekordy2)

print('===========')


for osoba in rekordy:
    okrojona_osoba = {"imie": osoba["imie"], "nazwisko": osoba["nazwisko"]}
    rekordy3.append(okrojona_osoba)

print(rekordy3)

===========
[{'imie': 'Adam', 'nazwisko': 'Nowak'}, {'imie': 'Anna', 'nazwisko': 'Nowak'}, {'imie': 'Artur', 'nazwisko': 'Nowakowski'}, {'imie': 'Alojzy', 'nazwisko': 'Kowalski'}]